<a href="https://colab.research.google.com/github/PedroTomasini/Teste_Analytics_PedroTomasini/blob/main/Teste_Analytics_PedroTomasini.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.   Limpeza e Análise de Dados de Vendas

In [189]:
!pip install -q Faker

Importando as bibliotecas necessárias

In [190]:
import pandas as pd
import numpy as np
import datetime
from faker import Faker

###Criando o Dataset

In [191]:
fake = Faker('pt-BR')

# Gerando um DataFrame simulado com dados de vendas
dados_vendas = {
    'ID': range(1, 101),
    'Data': [fake.date_between_dates(date_start=datetime.date(2023, 1, 1), date_end=datetime.date(2023, 12, 31)) for _ in range(100)],
    'Produto': [fake.random_element(elements=('Café', 'Bola', 'Boné', 'Arroz', 'NaN')) for _ in range(100)],
    'Categoria': [fake.random_element(elements=('Eletrônicos', 'Vestuário', 'Alimentos', 'Casa', 'NaN')) for _ in range(100)],
    'Quantidade': [fake.random_number(digits=2) for _ in range(100)],
    'Preço': [fake.random_number(digits=3) for _ in range(100)]
}

df_vendas = pd.DataFrame(dados_vendas)

In [192]:
print(df_vendas.head(10))

   ID        Data Produto    Categoria  Quantidade  Preço
0   1  2023-01-30    Boné          NaN           6    848
1   2  2023-06-23    Boné         Casa          74    428
2   3  2023-02-10    Café          NaN          58      2
3   4  2023-06-03     NaN          NaN          92    524
4   5  2023-08-24     NaN    Vestuário          85     59
5   6  2023-10-08     NaN    Vestuário          25    626
6   7  2023-06-30    Boné         Casa          84    117
7   8  2023-02-02    Bola          NaN          43    350
8   9  2023-02-10   Arroz  Eletrônicos          76    920
9  10  2023-08-05   Arroz    Vestuário          18    700

In [194]:
df_vendas.to_csv('vendas_2023.csv', index=False)

###Limpeza dos Dados

In [197]:
dados = pd.read_csv('vendas_2023.csv')
dados

     ID        Data Produto    Categoria  Quantidade  Preço
0     1  2023-01-30    Boné          NaN           6    848
1     2  2023-06-23    Boné         Casa          74    428
2     3  2023-02-10    Café          NaN          58      2
3     4  2023-06-03     NaN          NaN          92    524
4     5  2023-08-24     NaN    Vestuário          85     59
..  ...         ...     ...          ...         ...    ...
95   96  2023-04-12    Boné          NaN          33    622
96   97  2023-12-27    Café    Alimentos          41     60
97   98  2023-08-14   Arroz  Eletrônicos          66    461
98   99  2023-04-11     NaN  Eletrônicos          90     86
99  100  2023-04-08    Café    Alimentos          99    231

[100 rows x 6 columns]

Tratamento de valores faltante

In [196]:
# Procurando por valores nulos
dados.isnull()

       ID   Data  Produto  Categoria  Quantidade  Preço
0   False  False    False       True       False  False
1   False  False    False      False       False  False
2   False  False    False       True       False  False
3   False  False     True       True       False  False
4   False  False     True      False       False  False
..    ...    ...      ...        ...         ...    ...
95  False  False    False       True       False  False
96  False  False    False      False       False  False
97  False  False    False      False       False  False
98  False  False     True      False       False  False
99  False  False    False      False       False  False

[100 rows x 6 columns]

In [198]:
dados.isnull().sum()

ID             0
Data           0
Produto       25
Categoria     24
Quantidade     0
Preço          0
dtype: int64

In [199]:
dados.fillna(0)

     ID        Data Produto    Categoria  Quantidade  Preço
0     1  2023-01-30    Boné            0           6    848
1     2  2023-06-23    Boné         Casa          74    428
2     3  2023-02-10    Café            0          58      2
3     4  2023-06-03       0            0          92    524
4     5  2023-08-24       0    Vestuário          85     59
..  ...         ...     ...          ...         ...    ...
95   96  2023-04-12    Boné            0          33    622
96   97  2023-12-27    Café    Alimentos          41     60
97   98  2023-08-14   Arroz  Eletrônicos          66    461
98   99  2023-04-11       0  Eletrônicos          90     86
99  100  2023-04-08    Café    Alimentos          99    231

[100 rows x 6 columns]

In [201]:
dados = dados.fillna(0)

In [202]:
dados.isnull().sum()

ID            0
Data          0
Produto       0
Categoria     0
Quantidade    0
Preço         0
dtype: int64

Remoção de duplicatas

Conversão de tipos de dados, se necessário

###Calcule o total de vendas por produto.

###Identifique o produto com o maior número de vendas totais.

##2.   Análise Exploratória de Dados de Vendas

Crie um gráfico de linha mostrando a tendência de vendas ao longo do tempo, analisando os dados mensalmente.

Identifique e descreva pelo menos dois padrões ou insights interessantes que você observou nos dados.

Salve seu código e nomeie adequadamente.

#Parte 2: SQL